In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Harth.csv')

data.head(20)

,Unnamed: 0,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,0,2019-01-12 00:00:00.000,-1.108887,0.057861,-0.076904,-1.396973,-0.327148,-0.141846,6
1,1,2019-01-12 00:00:00.020,-1.054932,0.073486,-0.113770,-1.363281,-0.386475,-0.321533,6
2,2,2019-01-12 00:00:00.040,-0.911377,-0.007568,-0.160156,-1.080078,-0.096680,-0.354492,6
3,3,2019-01-12 00:00:00.060,-0.865234,-0.062500,-0.176025,-1.012939,0.163574,-0.229736,6
4,4,2019-01-12 00:00:00.080,-0.992920,-0.026123,-0.178467,-0.989014,0.199951,-0.088379,6
5,5,2019-01-12 00:00:00.100,-1.033203,0.011475,-0.152100,-1.087646,0.045166,-0.016113,6
6,6,2019-01-12 00:00:00.120,-0.975586,-0.020020,-0.069824,-1.149658,-0.137939,0.059326,6
7,7,2019-01-12 00:00:00.140,-0.987305,-0.062256,0.001465,-1.050537,-0.151123,0.146973,6
8,8,2019-01-12 00:00:00.160,-1.023438,-0.060547,0.025391,-0.991211,-0.082275,0.156982,6
9,9,2019-01-12 00:00:00.180,-1.007568,-0.030762,0.001465,-0.951904,-0.101807,0.162354,6
10,10,2019-01-12 00:00:00.200,-0.996094,-0.007568,-0.021240,-0.993652,-0.151367,0.091064,6
11,11,2019-01-12 00:00:00.220,-1.008301,0.020752,-0.056152,-1.026367,-0.173584,-0.007568,6
12,12,2019-01-12 00:00:00.240,-1.019287,0.028076,-0.093994,-1.076416,-0.131836,-0.046875,6
13,13,2019-01-12 00:00:00.260,-1.008789,0.004883,-0.086426,-1.063477,-0.035645,-0.017334,6
14,14,2019-01-12 00:00:00.280,-0.991455,-0.001465,-0.076416,-1.047119,-0.000488,-0.000244,6
15,15,2019-01-12 00:00:00.300,-0.973389,0.000000,-0.078125,-1.046875,0.000000,0.000000,6
16,16,2019-01-12 00:00:00.320,-0.969482,-0.002197,-0.080322,-1.031006,-0.031738,0.015869,6
17,17,2019-01-12 00:00:00.340,-0.958740,0.011963,-0.070557,-1.031250,-0.063477,0.047119,6
18,18,2019-01-12 00:00:00.360,-0.949463,0.006836,-0.053467,-1.030518,-0.078613,0.030518,6
19,19,2019-01-12 00:00:00.380,-0.960938,-0.001221,-0.032959,-1.015625,-0.077148,0.031250,6

In [5]:
# Cek dimensi dan informasi umum
print("Jumlah data:", data.shape[0])
print("Jumlah fitur:", data.shape[1] - 1)  # dikurangi label
print("\nInfo dataset:")
print(data.info())

Jumlah data: 137646
Jumlah fitur: 8

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137646 entries, 0 to 137645
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  137646 non-null  int64
 1   timestamp   137646 non-null  object
 2   back_x      137646 non-null  float64
 3   back_y      137646 non-null  float64
 4   back_z      137646 non-null  float64
 5   thigh_x     137646 non-null  float64
 6   thigh_y     137646 non-null  float64
 7   thigh_z     137646 non-null  float64
 8   label       137646 non-null  int64
dtypes: float64(6), int64(2), object(1)
memory usage: 9.5+ MB
None